.sec-text-with-video {
    .top-image {
        width:100%;
        height: auto;
    }
    h2 {
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 38px;
        color: #1f429b;
        font-weight: bold;
        font-family: "Arial Rounded MT Bold";
        text-align: center;
        margin-bottom: 20px;
        margin-top:40px; 
    }
    p {
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 35px;
        color: #1f429b;
        font-family: "Century Gothic";
        text-align: center;
        margin-bottom: 50px;
    }
}


@media only screen and (max-width:768px) {
    .sec-text-with-video {
        h2 {
            font-size: 30px;
            line-height:34px;
            margin-top:20px;
        }
        p{
            font-size: 22px;
            line-height: 26px;
            
        }
    }
}