.art-prints-cont {
    
    .art-prints-banner {
        position: relative;
        img {
            width:100%;
            height:auto;
        }
        h2 {
            top:0;
            bottom:0;
            left:0;
            right:0;
            display:flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 50px;
            letter-spacing: 2px;
            line-height: 50px;
            color: #0086c4;
            font-weight: bold;
            font-family: "Arial Rounded MT Bold";
            text-align: center;
            margin-top:12%;
            /*filter: drop-shadow(0.087px 4.999px 3px rgba(255, 255, 255, 0.58));
            text-shadow: 2px 2px 4px white;*/
        }
    }


   

    .textbox-cont {
        padding: 30px 0 30px 0;
        text-align: center;

        h3 {
            font-size: 29px;
            color:#0086c4;
            font-style: italic;
            font-family: "Lucida Calligraphy";
            text-align: center;
        }
        p.para {
            font-size: 26px;
            color: #0086c4 !important;
            font-family: Century Gothic !important;
            font-style:normal;
            text-align: center;
            display:block;
            margin:0 auto;
            max-width:80%;
            line-height: 29px;  
        }
    }
    .images-text-cont {
        
        .each-image-cont {
            transition: all .3s ease-in;
            &:hover {
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
                transform: translateY(-5px);
                transition: all .3s ease-in;
            }
        }
        img {
            max-width:100%;
            height: auto;
            cursor: pointer;
        }
        h3 {
            font-size: 23px;
            color: #646464;
            font-family: "Century Gothic";
            text-align: center;
            margin-top: 15px;
            margin-bottom: 35px;
        }
    }
}
 

.art-print-description {
    h2 {
        font-family: "Lucida Calligraphy";
    }
    
//    h3, p {
//     color:#2caadf;
//     font-family: "Lucida Calligraphy";
//    }
}

#artPrintsModal  {

    img {
    max-width: 100%;
    height: auto
    }
    .modal-dialog {
        max-width: 800px;
    }
}

.art-print-description {
    h2 {
        font-size: 24px;
        color: #2caadf;
        font-style: italic;
        line-height: 34px;
    }
    h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    p {
        span {
            font-weight:bold;
            font-size:18px;
        }
    }

    ul.artprints-social-list-wrapper a img {
        max-width: 40px;
    }

    ul.artprints-social-list-wrapper li {
        list-style-type: none;
    }

    ul.artprints-social-list-wrapper {
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content:flex-start;    
    }

    ul.artprints-social-list-wrapper li {
        display: inline-block;
        padding: 0 15px;
        font-family: 'Century Gothic', sans-serif;
        letter-spacing: 3px;
    }
    
    ul.artprints-social-list-wrapper li {
        display: inline-block;
        padding: 0 7px;
        color: #21409a;
        font-size: 30px;
        font-family: 'Century Gothic', sans-serif;
        letter-spacing: 3px;
                                                
    }
} 

.product-detail-cont.artprint .each-image img {
    cursor: pointer;
  }

#artPrintsModalSingle {
    img {
        max-width:100%;
        height: auto;
        display:block;
        margin: 0 auto;
    }
    .modal-dialog {
        max-width: 90%;
      }
}

.recommend-product-sec {
    h2 {
        text-align:center;
        margin-bottom: 30px;
    }
    h3 {
        text-align:center;
        margin-top:20px;
        font-size: 22px;
        &:hover {
            text-decoration: none;  
        }
    }
    img {
        max-width:100%;
        height:auto;
    }
}


@media only screen and (max-width:768px) {
    .art-prints-cont {
        
        .art-prints-banner {
            h2 {
                font-size:24px;
                line-height:24px;
                margin-top:0;
                align-items:end;
                margin-bottom: 5%;
            }

        }
        .textbox-cont {
            padding: 25px 20px;
            
            h3 {
                font-size: 25px;
            }
            p.para {
                font-size: 20px;
                max-width:100%;
                line-height: 25px;  
            }
        }
    }
    
}
 

.art-prints-cont .textbox-cont h3.art-print-hd-top {
    color:#0086c4;
    font-family: "Arial Rounded MT Bold";
    font-style:normal;
}


.images-text-cont a {
    color: #0086c4 !important;
} 
.images-text-cont h3  {
    color: #0086c4;
}   

.textbox-cont p {
    color: #0086c4 !important;
}