

.checkout-content {

    .payment-information {

        padding: 30px;
        text-align: center;
        border: 1px solid;
        margin: 25px;
        p { 
            font-size: 18px;
             margin-bottom: 0;
        }
    }

   

        h2 {
            margin-bottom: 0; 
        }

}