$primary-color: #39aadf;

.password-rest-page {
   h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: $primary-color;
    }
    label {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 6px;
        color: #444444;
        width:100%; 
    }
    input[type='text'], input[type='password'], textarea {
        background: #F8F8F8;
        border: 1px solid #CCCCCC;
        padding: 8px;
        margin-left: 0px;
        margin-right: 0px;
        width:100%;
        border-radius: 5px;
        margin-bottom:20px;
    }
    form {
    width:100%;
    }

    input[type='submit'], a.btn-btm {
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        background: #3aabe8;
        box-shadow: 0 2px 2px #dddddd;
        text-transform: uppercase;
        border-radius: 30px;
        margin-right: 5px;
        border: none;
        padding: 8px 15px;
        line-height: 14px;

    }


}